.advantages {
    // positioning
    position: relative;

    // box model
    display: flex;
    padding: 100px 20px;

    // visual
    background-color: #fafcf9;

    @include atDesktop {
        // box model
        padding: 100px 0;
    }

    &::after {
        // content: url('./img/sip2.png');

        // positioning
        position: absolute;
        right: -250px;

        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
        }
    }

    &__bg {
        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
        }

        img {
            // box model
            width: 100%;

            // visual
            box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.75);
        }
    }

    &__title {
        // box model
        display: block;
        padding: 5px 0;

        // typography
        @include font(#6ea447, $mainFont,1.75rem, 300);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;

        @include atDesktop {
            // box model
            text-align: left;
        }
    }

    &__text {
        @include font(#000000,$mainFont, 1.125rem, 300);
        text-align: center;
        line-height: 1.6;

        @include atDesktop {
            text-align: left;
        }
    }

    &__block {

        @include atDesktop {
            // box model
            padding: 50px;
            padding-top: 25px;
        }
    }

    &__container {

        @include atDesktop {
            // box model
            margin-left: 40px;
        }
    }

    &__list {
        // box model
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;
        margin: 0;
        justify-content: space-between;
        align-items: center;

        // visual
        list-style-type: none;

        @include atTabletsLandscape {
            // box model
            flex-direction: row;
        }
    }

    &__item {
        // positioning
        position: relative;
        // box model
        display: inline-block;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 250px;
        

        @include atTabletsLandscape{
            // box model
            width: 350px;
        }

        @include atDesktop {
            // box model
            width: 300px;
            padding-bottom: 50px;
        }

        @include atDesktopLarge {
            // box model
            width: 350px;
        }
    }

    &__pic {
        // box model
        display: block;
        margin: 0 auto;
        width: 45%;

        @include atDesktop {
            // positioning
            position: absolute;
            top: 20px;
            left: -50px;

            // box model
            width: 13%;
        }

    }
}