.button {
    // positioning
    position: relative;
    z-index: 1;
    
    // box model
    display: inline-block;
    margin-right: 10px;
    padding: 20px 10px;

    // typography
    @include font($white,$mainFont, 1.2rem, 500);
    text-transform: uppercase;
    text-decoration: none;
    
    // visual
    border: 1px solid $white;
    cursor: pointer;

    @include atDesktop {
        // box model
        padding: 20px 40px;
    }

    &--small {
        // box model
        margin-top: 20px;
        margin-bottom: 60px; 
        padding: 15px 30px;

        // typography
        color: #000000;

        // visual
        border: 2px solid #c5c2c2;
    }

    &:last-child {
        // box model
        margin-right: 0;
    }

    &__container {
        // box model
        display: flex;
        justify-content:  space-between;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }
    &:hover {
        // typography
        color: $form;

        // visual
        background-color: $white;
        transition: 0.3s ease-in-out all;
    }

    &--section {
        // typography
        color: #4b4e53;
        
        // visual
        border: 2px solid #c5c2c2;
    }

    &--project {
        // positioning
        @include centerer;
        
        // visual
        opacity: 0;
        transition:  opacity 0.3s;
    }
}