.excellence {
    // box model
    padding: 130px 20px;
    
    &__container {
        // box model
        display: flex;
        flex-direction: column;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }

    &__bg {
        // box model
        display: none;
        height: 500px;
        margin-left: 100px;

        // visual
        background-image: url('./img/sip.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__right {
        // box model
        display: flex;
        flex-direction: column;
    }


    &__img {
     
        @include atTabletsLandscape {
            // box model
            display: block;
            margin: 0 auto;
            width: 50%;
        }

        @include atDesktop {
            // box model
            width: 100%;
        }

        img {
            // box model
            width: 100%;
            height: 100%;
        }
    }

    &__left {
        // box model
        padding-bottom: 50px;

        @include atDesktop {
            // box model
            padding-bottom: 0;
        }
    }

    &__description {

        @include atDesktop {
            // box model
            padding-left: 250px;
        }

        &-content {
            @include atDesktop {
                // box model
                padding-left: 50px;
            }
        }
    }
}