.excellence {
    padding: 130px 20px;
    
    &__container {
        display: flex;
        flex-direction: column;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }

    &__bg {
        // box model
        display: none;
        height: 500px;
        background-image: url('./img/sip.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: 100px;
    }

    &__right {
        // box model
        display: flex;
        flex-direction: column;
    }


    &__img {
        // visual
        // border: 1px solid #d6c8bd;
        // border-radius: 50%

        @include atTabletsLandscape {
            // box model
            margin: 0 auto;
            width: 50%;
            display: block;
        }

        img {
            // box model
            width: 100%;
            height: 100%;

            // @include atTabletsLandscape {
            //     width: 50%;
            // }
        }
    }

    &__left {
        padding-bottom: 50px;

        @include atDesktop {
            padding-bottom: 0;
        }
    }

    &__description {

        @include atDesktop {
        padding-left: 250px;

        }

        &-content {


            @include atDesktop {
                padding-left: 50px;
            }
        }
    }
}