.hero {
    // positioning
    position: relative;

    // box model
   min-height: 90vh;
   width: 100%;

    // visual
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 70px 67px -20px rgba(0,0,0,0.24);

    @include atTabletsLandscape {
        // box model
        min-height: 750px;
        
    }

   &::after {
        content: '';

       // positioning
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // box model
        width: 100%;
        height: 100%;

        // visual
        background-color: rgba($form, 0.5);
    }

    &__container {
        // positioning
        position: relative;

        // box model
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }

    &__form {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        margin: 20px 30px;
        padding: 10px 10px;

        // typography
        background-color: rgba($form ,0.6);

        // visual
        border: 3px solid $accent;
        // display: flex;
        // flex-direction: column;

        @include atDesktop {
            // box model
            width: 700px;
            padding: 70px 50px;
            margin: 50px 0;
        }
    }

    &__motto {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        display: inline-block;
        // margin: 150px;
        // height: 375px;
        // margin-left: 10%;
        // padding-left: 50px;
        border-left: 2px solid $white;
        padding: 75px 20px;
        width: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // display: none;
        order: 1;
    }

    &__top {
        // box model
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }

    &__info {
        // box model
        text-align: left;
        @include atDesktop {
            // box model
            text-align: right;
        }
    }

    &__build-title {
        // box model
        padding-bottom: 40px;
        margin: 0;

        // typography
        @include font($white,$mainFont,1rem,500);
    }

    &__text {
        // box model
        margin: 0;
        padding-bottom: 20px;

        // typography
        @include font($text,$mainFont,1rem,500);
        line-height: 1.5;

        @include atDesktop {
            // box model 
            padding-bottom: 100px;
        }

        &--nopd {
            // box model
            padding-bottom: 20px;
        }
    }

    &__action {
        // typography
        @include font(#c2ecae,$mainFontSemiBold,1.1rem, 500);
        text-transform: uppercase;
        letter-spacing: 2px;
        // box model
        margin: 0;
        padding-top: 20px;

        @include atDesktop {
            // typography
            font-size: 1.5rem;
        }
    }

    &__call {
        // box model
        display: block;
        padding: 20px 0;

        // typography
        @include font(#4b4e53, $mainFont, 1rem, bold);
    }

    &__main-title {
        // box model
        padding-bottom: 30px;

        // typography
        @include font($white,$mainFontSemiBold,2rem, 100);
        text-transform: uppercase;
    }
    &__main-text {
        // typography
        @include font($white, $mainFont, 1rem, 100);
        text-transform: uppercase;
        line-height: 1.5;
    }
}