.logo {

    &--header {
        // positioning
        position: relative;
        padding: 0 20px;
        padding-top: 15px;

        // box model
        max-width: 150px;
        max-height: 100px;

        @include atTabletsPortrait {
            // box model
            max-width: 200px;
        }


        img {
            // box model
            width: 100%;
            height: 100%;
        }
    }

    &--footer {
        // box model
        width: 250px;
        height: 200px;

        img {
            // box model
            width: 100%;
        }
        @include atTabletsPortrait {
            // box model
            width: 375px;

            // box model
            padding-bottom: 75px;
        }

        @include atDesktop {
            // box model
            width: 50%;
        }
    }
    
}