.main-menu {
    // box model
    // display: none;

    @include atDesktop {
        // box model
        display: block;
    }

    &--header {
        display: none;
    }
    
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-top: 25px;

        &--footer {
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__item {
        // box model
        display: inline-block;
        vertical-align: top;
        padding-bottom: 25px;
        // display: flex;
        // flex-direction
        // padding-right: 45px;
    }

    &__link {
        // typography
        @include font(#4b4e53,$mainFontThin,1rem, 300);
        text-transform: uppercase;
        text-decoration: none;

        &--footer {
            @include font(#000000,$mainFontSemiBold,0.875rem, bold);
        }
    }
}