.main-nav {
    // box model
    padding-bottom: 10px;

    &__container {
        // box model
        display: flex;
        justify-content: center;
        align-items: center;

        @include atTabletsPortrait {
            justify-content: space-between;
            align-items: center;
        }

        @include atDesktop {
            justify-content: space-between;
        }
    }
}