.news {
    // positioning
    position: relative;

    // box model
    min-height: 700px;
    margin-bottom: 50px;
    padding: 0 20px;

    // visual
    background-color: #f7f7f7;

    @include atDesktop {
        // box model
        padding: 0;
    }
    
    &__container {
        // box model
        display: flex;
    }

    &__right {
        // box model
        display: none;
        
        @include atDesktop {
            // box model
            display: flex;
            align-items: center;
        }
    }

    &__bg {
        // box model
        width: 100%;
    }

    &__left {
        // box model
        width: 100%;
        margin: 30px 0;
        padding: 60px 0;

        // visual
        background-color: #f7f7f7;
    }

    &__pic {
        // box model
        display: none;

        // visual
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);

        @include atTabletsPortrait {
            // box model
            display: inline-block;
        }

        @include atDesktop {
            // box model
            width: 100%;
        }
    }
}