.project {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    position: relative;

    &:hover {
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($form, 0.8);
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-center;
    }

    &--all {
        background: none;
        padding-left: 160px;
        padding-right: 385px;
        box-shadow: none;
    }
    &--first {
        background-image: url('./img/project3.png');
        min-width: 934px;
        min-height: 500px;  
    }
    &--second {
        background-image: url('./img/project.png');
        width: 934px;
        height: 500px;        
    }
    &--third {
        background-image: url('./img/project2.png');
         width: 934px;
        height: 500px;
    }

    &__left {
        padding-left: 40px;
        padding-bottom: 35px;
        @include font($white,$mainFontSemiBold,1.125rem, 600);
        text-transform: uppercase;
    }

    &__right {
        padding-right: 40px;
        padding-bottom: 35px;
        @include font($white,$mainFontSemiBold,1.125rem, 300);
        text-align: right;     
    }
    &__square {
        font-size: 2.25rem;
        font-weight: 500;
    }
    &__price {
        font-size: 2.25rem;
        font-weight: 700;
    }
}
