.project {
    // positoning
    position: relative;
    // box model
    // padding:  0 20px;

    // visual
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);

    &:hover {
        &::after {
            // positioning
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            // visual
            background-color: rgba($form, 0.8);
        }
    }

    &__container {
        // box model
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    &__item {
        // positioning
        position: relative;

        // box model
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        // visual
        background-size: cover;
        // box-shadow: -1px 3px 36px -9px rgba(126,128,130,1);
        box-shadow: 4px 0px 43px 3px rgba(126,128,130,1);
            

        @include atTabletsLandscape {
            // box model
            width: 50%;
        }

        &:hover {
            // visual
            transiton: 1s;

        &::after {
            // positioning
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            // box model
            width: 100%;

            // visual
            background-color: rgba(#000, 0.5);
            
        }
    }
    }

    &--all {
        // box model
        width: 934px;
        margin: auto;
        padding: 0 20px;
        box-shadow: none;

        &::after {
            // box model
            display: none;
        }

        @include atTabletsPortrait {
            // box model
            padding: 0; 
        }
}
    &--first {
        // box model
        height: 500px;

        // visual
        background-image: url('./img/project3.png');
        background-repeat: no-repeat;
    }
    &--second {
        // box model
        height: 500px;

        // visual
        background-image: url('./img/project.png');
        background-repeat: no-repeat;
    }
    &--third {
        // box model
        height: 500px;

        // visual
        background-image: url('./img/project2.png');
        background-repeat: no-repeat;
    }

    &__description {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__left {
        // box model
        padding-left: 20px;
        padding-bottom: 17px;
        
        // typography
        @include font($white,$mainFontSemiBold,1rem, 600);
        text-transform: uppercase;
        
        @include atDesktop {
            // box model
            padding-left: 40px;
            padding-bottom: 17px;

            // typography
            font-size: 1.125rem;
        }
    }

    &__right {
        // box model
        padding-right: 20px;
        padding-bottom: 17px;
        text-align: right;

        // typography
        @include font($white,$mainFontSemiBold,1.125rem, 300);

        @include atDesktop {
            // box model
            padding-left: 40px;
            padding-bottom: 17px;
        }

    }
    &__square {
        // typography
        font-size: 1.5rem;
        font-weight: 500;

        @include atDesktop {
            // typography
            font-size: 2.25rem;
        }
    }
    &__price {
        // typography
        font-size: 1.5rem;
        font-weight: 700;

        @include atDesktop {
            // typography
            font-size: 2.25rem;
        }
    }
}

.project__item:hover .button--project {
    // visual
    opacity: 1;
    transition: opacity .3s;
}