.promo {
    position: relative;
    background-image: url('./img/promo.png');
    background-size: cover;
    background-position: center center;

    @include atDesktop {
        height: 160px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($form, 0.3);
    }

    &__container {
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @include atDesktop {
            flex-direction: row;
            text-align: justify;
            padding: 60px 0;
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        @include font($white,$mainFont,24px,300);
        text-transform: uppercase;
        display: inline-block;
        // padding-right: 100px;

        @include atDesktop {
            // box model
            padding-right: 100px;
        }

    }
}