.section {

    &__block {
        border-left: 2px solid $accent;
        padding-left: 20px;
        margin-bottom: 100px;
        
        @include atDesktop {
            padding-left: 30px;
            height: 250px;
        }

        &--center {
            margin-top: 20px;
        }
        &--advantages {
            // width: 520px;
            margin-bottom: 100px;

            @include atDesktop {
                margin-left: 45px;
                width: 520px;
                margin-bottom: 15px;
            }
        }
        &--excellence {
            height: auto;
            padding-left: 20px;
            margin-bottom: 30px; 

            @include atDesktop {
                width: 570px;
                height: auto;
            }
        }
        &--news {
            // height: 150px;

            @include atDesktop {
                 margin-bottom: 0;
                 height: auto;

            }
        }

        &--contacts {
            @include atDesktop {
                height: auto;
                margin-top: 50px;

            }
        }
    }
    &__title {
        // typography
        @include font(#4b4e53,$mainFont,2.25rem, 100);
        text-transform: uppercase;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 40px;

        b {
            color: #4b4e53;
            font-weight: bold;
        }
        @include atSmall {
            font-size: 2rem;
        }
    }
    &__text {
        // typography
        @include font(#4b4e53, $mainFont, 1rem, 100);
        line-height: 1.5;
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }
}