.section {

    &__block {
        // box model
        margin-bottom: 100px;
        padding: 0  20px;

        // visual
        border-left: 2px solid $accent;
        
        @include atDesktop {
            // box model
            height: 250px;
            padding-left: 30px;
        }

        &--center {
            // box model
            margin-top: 20px;
            margin-left: 20px;

            @include atDesktop {
                // margin-left: 170px;
            }
        }
        &--advantages {
            // box model
            margin-bottom: 100px;

            @include atDesktop {
                // box model
                width: 520px;
                margin-bottom: 15px;
                margin-left: 45px;
            }
        }
        &--excellence {
            // box model
            height: auto;
            margin-bottom: 30px; 
            padding-left: 20px;

            @include atDesktop {
                // box model
                width: 570px;
                height: auto;
            }
        }
        &--news {

            @include atDesktop {
                // box model
                 height: auto;
                 margin-bottom: 0;

            }
        }

        &--contacts {
            @include atDesktop {
                // box model
                height: auto;
                margin-top: 50px;
            }
        }
    }
    &__title {
        // box model
        margin: 0;
        padding-top: 20px;
        padding-bottom: 40px;

        // typography
        @include font(#4b4e53,$mainFont,2.25rem, 100);
        text-transform: uppercase;

        b {
            // typography
            color: #4b4e53;
            font-weight: bold;
        }
        @include atSmall {
            // typography
            font-size: 2rem;
        }
    }
    &__text {
        // box model
        display: block;
        margin: 0;
        margin-bottom: 20px;
        
        // typography
        @include font(#4b4e53, $mainFont, 1rem, 100);
        line-height: 1.5;
    }
}