.socials {
    padding-bottom: 50px;
    
    &__list {
        // box model
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding-right: 20px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__img {
        
        &:hover {
            fill: red;
        }
    }

}