.table {
    // padding-right: 10px;

    @include atDesktop {
        padding-right: 10px;
    }
    td {
        // display: flex;
    }
    tbody {
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: inline-block;
        padding-bottom: 50px;
    }

    &__date {
        @include font(#7e8082,$mainFont,3rem, bold);
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #e5e5e5;
        display: inline-block;
        

        sub {
            @include font(#4b4e53,$mainFont,1.125rem, bold);
            display: inline-block;
        }
    }
    &__tech {
        width: 100%;
        // padding-left: 10px;
        padding: 20px 0;
        display: block;
        text-align: center;
        border: 1px solid #e5e5e5;

        @include font(#4b4e53, $mainFont,1.125rem, 600);
        text-transform: uppercase;

        span {
            font-weight: 100;
            font-size: 0.8125rem;
        }
    }

    &__content {
        padding: 20px 0;
        display: block;
        // text-align: center;
        border: 1px solid #e5e5e5;
        width: 100%;
    }
}