.table {

    @include atDesktop {
        // box model
        padding-right: 50px;
    }

    td {
    }

    tbody {
        // box model
        display: flex;
        flex-direction: column;
        
        @include atTabletsPortrait {

        }
    }

    &__row {
        // box model
        display: inline-block;
        padding-bottom: 50px;
        
        @include atTabletsLandscape {
            // box model
            display: flex;
        }
    }

    &__date {
        // typography
        @include font(#7e8082,$mainFont,3rem, bold);

        // box model
        display: block;
        width: 100%;
        text-align: center;
        display: inline-block;

        // typography
        text-transform: uppercase;

        // visual
        border: 1px solid #e5e5e5;

        @include atTabletsLandscape {
            // box model
            width: 115px;
        }

        @include atDesktop {
            // visual
            border-top: none;
            border-bottom: none;
            border-left: none;
            border-right: 1px solid #e5e5e5;
        }
        

        sub {
            // box model
            display: inline-block;

            // typography
            @include font(#4b4e53,$mainFont,1.125rem, bold);
        }
    }
    &__tech {
        // box model
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;

        // typography
        @include font(#4b4e53, $mainFont,1.125rem, 600);
        text-transform: uppercase;

        // visual
        border: 1px solid #e5e5e5;
        

        @include atTabletsLandscape {
            // box model
            display: inline-block;
            width: 300px;
        }

         @include atDesktop {
             // box model
            padding-left: 20px;
            padding-right: 20px; 

            // typography
            border: none;
        }

        span {
            // typography
            font-weight: 100;
            font-size: 0.8125rem;
        }
    }

    &__content {
        // box model
        display: block;
        padding: 20px 0;
        width: 100%;

        // visual
        border: 1px solid #e5e5e5;

         @include atDesktop {
             // box model
            width: 75%;
            
             // visual
            border: none;
        }
    }
}