// Colors
$white: #fff;
$accent: #aaca99;
$form: #000;
$title: #4b4e53;
$text: #9ca0a5;

// Fonts
$mainFont: 'Open Sans',sans-serif;
$mainFontThin: 'Opens Sans', sans-serif;
$mainFontSemiBold: 'Open Sans Semibold', sans-serif;